[submodule "dpf"]
	path = dpf
	url = https://github.com/wolf-plugins/DPF.git
	branch = waveshaper
[submodule "plugins/WaveShaper/Libs/inih"]
	path = plugins/wolf-shaper/Libs/inih
	url = https://github.com/wolf-plugins/inih.git
[submodule "plugins/WaveShaper/Common"]
	path = plugins/wolf-shaper/Common
	url = https://github.com/reidevries/wolf-common.git/
