CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
cmake_install.cmake
install_manifest.txt
.vscode
b
build_windows
build_mac
/test
compile_commands.json
CTestTestfile.cmake
*.kdev4 
.kdev4
/build_windows32
*.cpp.d
*.cpp.o
*.so
/bin/
