[submodule "dpf"]
	path = dpf
	url = git@github.com:pdesaulniers/DPF.git
	branch = waveshaper
[submodule "plugins/WaveShaper/Libs/inih"]
	path = plugins/WaveShaper/Libs/inih
	url = git@github.com:pdesaulniers/inih.git
[submodule "plugins/WaveShaper/Widgets"]
	path = plugins/WaveShaper/Widgets
	url = git@github.com:pdesaulniers/wolf-dpf-widgets.git
[submodule "plugins/WaveShaper/Utils"]
	path = plugins/WaveShaper/Utils
	url = git@github.com:pdesaulniers/wolf-dpf-utils.git
